.ProductCard {
    display: flex;
    padding: 2rem;
    height: 16rem;
    margin-left: 5rem;
    margin-top: 2rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    width: 75rem;
}

.ProductCard-Image {
    height: 16rem;
    margin-right: 2rem;
}