.ProductCard {
    display: flex;
    padding: 2rem;
    margin-left: 5rem;
    margin-top: 2rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
    max-width: 70rem;
}

.ProductCard-Image {
    height: 15rem;
    margin-right: 2rem;
}

.ProductCard-Price-Rating {
    display: flex;
    margin-left: 0;
    padding-left: 0;
}

.ProductCard-Description {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Link {
    color: white;
    text-decoration: none;
}

.Product-Card-Icon-Container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 7rem;
}

.Product-Card-Icon-Container li{
    margin-right: 1rem;
}

.ProductCard-Price-Rating li{
    list-style: none;
    margin-right: 2rem;
}
