.ProductCard {
    display: flex;
    /* width: 25rem; */
    /* flex: 1 0 auto; */
    padding: 2rem;
    height: 16rem;
    margin-left: 5rem;
    margin-top: 2rem;
    box-shadow: 0 0 0.4rem rgba(0, 0, 0, 0.15);
    border-radius: 1rem;
}

.ProductCard-Image {
    height: 8rem;
}