.header_navbar {
  background-color: #8568ff;
}

.NavBar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #8568ff;
  height: 146px;
}

.NavBar-Left {
  display: flex;
  align-items: center;
}

.Logo {
  color: white;
  text-align: left;
}

.NavBar-Left ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

a {
  padding-right: 10px;
  text-decoration: none;
}

a:hover {
  color: black;
}

.NavBar-Icons {
  padding-left: 20px;
  color: white;
}

.NavBar-Icons svg {
  padding-left: 20px;
}
